.idea/
bin/
obj/
packages/
Media/
Build/API Documentation/

**/*.iml
**/*.DotSettings.user

Build/*.zip
Build/Grand Theft Auto V/plugins/LSPDFR/AutomaticRoadblocks.*
Build/Grand Theft Auto V/plugins/LSPDFR/Automatic Roadblocks/data/*